#background {
    width: 100vw;
    height: 100vh;

    background: rgba(255,255,255,0);

    font-size: 13vmin;
    font-family: 'Open Sans';

    text-align: center;
}

body {
    margin: 0;
    overflow-x: hidden;
}

hr {
    border: 1px solid black;
    width: 80%;
}

#img {
    width: 35vw;
}

a {
    text-decoration: none;
    color: black;
}

#desc {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 4vmin;
    padding: 20px;
}

#links {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.link {
    height: 100vh;
    width: 50vw;

    opacity: 60%;
    transition: opacity 200ms 50ms ease-in-out;

    position: relative;
}
.link:hover {
    opacity: 100%;
}

.link-text {
    font-size: 5vmin;
    font-family: 'Secular One';
    color: inherit;

    display: inline-block;
    width: 100%;

    position: absolute;
    top: 50%;

    text-align: center;
}

#one {
    background: #cfcfcf;
    color: #303030;
}

#two {
    background: #303030;
    color: #cfcfcf;
}
